body {
  margin: 0;
}
header {
  position: fixed;
  padding: 0.5rem;
}

.App {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 90%;
  margin: auto;
  position: relative;
  top: 4rem;
  .tech-icon {
    width: 4vw;
  }
}
