body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #666666;
  position: fixed;
  border-bottom-right-radius: 8px;
  z-index: 1;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    border-bottom-right-radius: 0;
  }
}
header > div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
header > div a {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
header > div a:hover {
  color: #868686;
}

.App {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  position: relative;
  top: 4rem;
}
.content .tech-icon {
  width: 50px;
  transition: 0.5s;
}
.content .tech-icon:hover {
  transform: scale(1.2);
}