body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #666666;
  position: fixed;
  border-bottom-right-radius: 8px;
  z-index: 1;
}

// mobile? header 100% width and no border radius
@media (max-width: 768px) {
  header {
    width: 100%;
    border-bottom-right-radius: 0;
  }
}

header > div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  a {
    color: white;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #868686;
    }
  }
}

.App {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 90%;
  margin: auto;
  position: relative;
  top: 4rem;
  .tech-icon {
    width: 4.5vw;
  }
}
